@model MacosApp.Web.Data.Entities.Labour

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Labour</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Employee
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Employee.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Activity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Activity)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Start)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Start)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:300px;max-height: 100%; width: auto;" />
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="EditLabour" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddReport" asp-route-id="@Model.Id" class="btn btn-primary">Add Report</a>
    <a asp-action="Details" asp-route-id="@Model.Employee.Id" class="btn btn-success">Back to Employee</a>
</div>
<h4>Report</h4>
<hr />
@if (Model.Reports.Count == 0)
{
    <h5>Not Reports added yet.</h5>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reports</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().ServiceType.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reports.FirstOrDefault().Remarks)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reports)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateLocal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    </td>
                                    <td>
                                        <a asp-action="EditReport" class="btn btn-default" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> </a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Employees/DeleteReport/' + item_to_delete;
            });
        });
    </script>
}
